# Supabase Configuration
VITE_SUPABASE_URL=https://purwmtszbhgedqqsbmov.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB1cndtdHN6YmhnZWRxcXNibW92Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzcwMzI2MDgsImV4cCI6MjA5MjYwODYwOH0.hzcr5XLojhwys0LEJMTlIwrxdglEYryxBev1CG0-1nI

# EmailJS Configuration (For OTP Emails)
VITE_EMAILJS_SERVICE_ID=service_z8okin2
VITE_EMAILJS_TEMPLATE_ID=template_8xpkxwo
VITE_EMAILJS_PUBLIC_KEY=mNqgrWOCI2ShdsB7e
